/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%; /* 横幅いっぱい */
  padding: 15px 0;
  margin: 0 auto;/* 中央寄せ（左右に余白がないとできない） */
}

.header.heading{
  font-size: 32px
}
.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 300px; /* 高さ300px */
  background-color: orange; /* 背景色orange */
}

.main-visual-content{
  width: 350px;/* 横幅350px */
  height: 300px;/* 高さ350px */
  background-color: gold;/* 背景色gold */
}

.main {
  width: 100%; /* 横幅いっぱい */
  display: flex;/* Flexboxの利用 */
  justify-content:center;/* 子要素の横並び・中央寄せ */
  margin:0 auto;/* 中央寄せ（左右に余白がないとできない） */
}

.blog{
  width: 600px;
  height: 1400px;
  background-color: limegreen;
}

.sidebar{
  width: 240px;
  height: 1400px;
  background-color: palegreen;
}

.footer{
width: 100%; /* 横幅いっぱい */
height:120px; /*高さ120px*/
background-color:blue; /*背景色blue*/
}